$coin-diameter: 100%;
$coin-thickness: 20px;
$coin-color: #fff;
// dime
// $coin-front: "https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Dime_Obverse_13.png/440px-Dime_Obverse_13.png";
// $coin-back: "https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Dime_Reverse_13.png/440px-Dime_Reverse_13.png";
// penny
$coin-front: "../img/callme.gif";
$coin-back: "https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/US_One_Cent_Rev.png/440px-US_One_Cent_Rev.png";
$edge-faces: 80;
$edge-face-length: calc(3.14*$coin-diameter/$edge-faces);
$turn-time: 3s;

.box {
  width: $coin-diameter;
  height: $coin-diameter;
}

.coin {
  width: $coin-diameter;
  height: $coin-diameter;
  transform-style: preserve-3d;
  animation: rotate3d $turn-time ease-in-out alternate infinite;
  transition: all .3s;
  z-index: 1;
}

.coin_front{
  position: absolute;
  width: $coin-diameter;
  height: $coin-diameter;
  border-radius: 50%;
  overflow: hidden;
  background-image: url($coin-front);
  background-size: cover;
  transform: rotateX(0deg);

  &:after {
    content: "";
    position: absolute;
    left: calc(-1 * $coin-diameter/2);
    bottom: 100%;
    display: block;
    height: calc($coin-diameter/1.5);
    width: calc($coin-diameter*2);
    background: #fff;
    opacity: 0.3;
    animation: shine linear $turn-time alternate infinite;
  }
}


.coin_shadow {
  position: absolute;
  width: $coin-diameter;
  height: $coin-thickness;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 $coin-thickness*1 $coin-thickness*2 #000;
  opacity: 0.4;
  transform: rotateX(50deg) rotateX(-29deg) rotateY(20deg) translateY(-70px) translateZ(-$coin-diameter*1.1) scale(.5);
  animation: rotateShadow $turn-time ease-in-out alternate infinite;
  z-index: -1;

}


@keyframes rotate3d {
  0% {
    transform: perspective(800px) rotate3d(0.1, 1, 0, 30deg);
  }

  100% {
    transform: perspective(800px) rotate3d(0.1, 1, 0, -30deg);
  }
}


@keyframes shine {
  0%, 15% {
    transform: translateY($coin-diameter*3) rotate(-40deg);
  }
  50% {
    transform: translateY(-$coin-diameter) rotate(-40deg);
  }
}

.callme {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: 25vmin;
  height: 25vmin;
  max-width: 150px;
  max-height: 150px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in,
}

.callme.target-is-active {
  pointer-events: auto;
  opacity: 1;
  transition: 0.4s ease-in;
}

.clipboard{
  width: $coin-diameter;
  height: $coin-diameter;
  background-image: url("../img/clipboard2.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;

  &:hover .coin_front {
    background-image: url("../img/callme_dark.gif");
  }

  &:hover .clipboard {
    background-image: url("../img/clipboard.png");
  }
}

