$theme-colors: (
  "primary": #2660a4,
  "secondary":  #272727,
  "light": #F9FDEB,
  "dark": #160c28,
  "success":    #34e8ff,
  "info":       #e8bad7,
  "warning":    #78c0e0,
  // "danger":     $danger,

);

$position-values: (
  n40: -40%,
  n30: -30%,
  0: 0,
  5: 5%,
  10: 10%,
  20: 20%,
  50: 50%,
  60: 60%,
  80: 80%,
  100: 100%
);




// #e8bad7 #272727 #34e8ff #f4ffff #efecca #78c0e0 #2660a4 #160c28 #c2c2c2


$form-check-input-checked-color: map-get($theme-colors, "light");
$form-check-input-checked-bg-color: map-get($theme-colors, "secondary");

$list-group-bg: rgba(map-get($theme-colors, "dark"), 0.0);

$list-group-border-color:           rgba(black, .250);

$card-bg: rgba(map-get($theme-colors, "light"), 0.05);

$modal-content-bg: map-get($theme-colors, "light");
// $modal-content-color:  map-get($theme-colors, "secondary");

$utilities:
  (
       "min-viewport-height": (
      property: min-height,
      class: min-vh,
      values: (100: 100vh, 90: 90vh, 80: 80vh, 75: 75vh, 70: 70vh, 65: 65vh, 60: 60vh, 50: 50vh, 45: 45vh, 40: 40vh, 30: 30vh, 25: 25vh, 20: 20vh)
    ),
);


// $enable-shadows: true;
.navbar-icon {
  height: 8vmin;
  width: 8vmin;
}

.navbar-icon + span {
  font-size: 4vmin;
  -webkit-text-stroke: 0.03em map-get($theme-colors, "dark");
}

.navbar-number {
  font-family: 'Jura', sans-serif;
  font-size: 2.5vmin;
}

.icon {
  height: 1.5em;
  width: 1.5em;
}

.navbar-number .icon {
  height: 1em;
  width: 1em;
}

.card .icon{
    height: 1.5em;
    width: 1.5em;
    fill: map-get($theme-colors, "dark");
}


.card-body li{
  color: map-get($theme-colors, "dark");
}

@import "../node_modules/bootstrap/scss/bootstrap";


h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  // -webkit-text-stroke: 0.03em map-get($theme-colors, "light");
}

body {
    background-color: map-get($theme-colors, "light");
    // color: map-get($theme-colors, "dark");
    // font-family: 'Russo One', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}


footer {
    color: map-get($theme-colors, "light");
    color: rgba(252, 247, 248, 0.6);

}

footer .icon{
    height: 2.5em;
    width: 2.5em;
    fill: map-get($theme-colors, "light");
    fill: rgba(252, 247, 248, 0.6);
}

footer #logo {
  height: 4em;
  width: 4em;
}

footer .icon:hover {
  fill: rgba(252, 247, 248, 1);
  transition-duration: 0.5s;
}

#b-icon {
  height: 1.5em;
  width: 1.5em;
}

.low-shadow {
  box-shadow: inset 0 -15px 20px -10px rgba(0, 0, 0, 0.5);
}

.all-shadow {
    box-shadow: inset 0 -15px 15px -5px rgba(0, 0, 0, 0.5), inset 0 15px 15px -5px rgba(0, 0, 0, 0.5),;
    position: relative;
}

.all-shadow img {
  display: block;
  position: relative;
  z-index: -1;
}


.quet {
  display: block;
  line-height: 1.2;
  font-weight: 100;
}

.navbar-brand {
  font-family: 'Jura', sans-serif;
}

.bgblur{
  height: 100%;
  width: 100%;
}

.bgblur:after{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

//marquee

.marquee {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  position: relative;
}

$dur: 15s;

.marquee div:nth-of-type(2) {
  position: absolute;
  display: inline-block;
  animation: marquee $dur linear infinite;
}

.marquee div:nth-of-type(1) {
  position: absolute;
  display: inline-block;
  transform: translateX(50%);
  animation: marquee $dur calc($dur/2) linear infinite;
}

@keyframes marquee {
   0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-150%);
  }
}

